.logRegContainer {
  width: 335px;
  background-color: var(--dark-gray2);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  padding: 20px 20px 40px 20px;
}

.logoContainer {
  display: flex;
  flex-direction: row;
  gap: 4px;
  margin-bottom: 40px;
}

.logo {
  width: 42px;
  height: 17px;
}

.logoName {
  display: none;
}

.title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1;
  letter-spacing: 0.035rem;
}

.span {
  color: var(--light-gray);
}

.inputsBlock {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 20px 0;
}

.input {
  background-color: var(--dark-gray);
  padding: 14px;
  width: 295px;
  height: 44px;
  border-radius: 12px;
  border: none;
  color: var(--main-light);
}

input::placeholder {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: -0.015rem;
  color: var(--light-gray);
}

.submitBlock {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 14px;
}

.logAdd {
  margin-top: 72px;
}

.formBtn {
  border-radius: 30px;
  padding: 12px 29px;
  width: 140px;
  height: 42px;
  background-color: var(--main-light);

  color: var(--main-dark);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: 0.0175rem;
  color: var(--dark-gray2);
}

.navigation {
  font-weight: 500;
  font-size: 11px;
  line-height: 1.17;
  letter-spacing: -0.01375rem;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: var(--light-gray);
}

.inputPwd {
  position: relative;
}

.iconPwd {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 14px;
  right: 14px;
}

/*=================Tablet=================*/
@media screen and (min-width: 768px) {
  .logRegContainer {
    width: 704px;
    padding: 40px 168px 214px 64px;
  }

  .logoContainer {
    margin-bottom: 157px;
  }

  .logoName {
    display: flex;
    font-weight: 700;
    font-size: 16px;
    line-height: 1;
    letter-spacing: 0.02rem;
    text-transform: uppercase;
  }

  .title {
    /* width: 450px; */
    font-size: 60px;
    line-height: 1;
    letter-spacing: 0.075rem;
  }

  .inputsBlock {
    gap: 14px;
    margin: 40px 0 82px 0;
  }

  .input {
    padding: 16px 14px;
    width: 472px;
    height: 50px;
  }

  .submitBlock {
    gap: 20px;
  }

  .formBtn {
    padding: 16px 54px;
    width: 225px;
    height: 52px;

    font-size: 20px;
    line-height: 1;
    letter-spacing: 0.025rem;
  }

  .logAdd {
    margin-top: 146px;
  }

  .navigation {
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.0175rem;
  }
}

/*=================Desktop=================*/
@media screen and (min-width: 1440px) {
  .logRegContainer {
    width: 600px;
    padding: 40px 64px;
  }

  .logoContainer {
    margin-bottom: 107px;
  }
}
