.boardRec {
  padding: 20px;
}

.formTitle {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.0175rem;
  color: var(--main-light);
  margin-left: 14px;
}

.filterForm {
  margin: 8px 0 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.inputGroup {
  position: relative;
}

.inputField {
  border-radius: 12px;
  padding: 14px 14px 14px 77px;
  width: 295px;
  height: 44px;
  background: var(--dark-gray);
  border: none;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: -0.015rem;
  color: var(--main-light);
}

.inputNext {
  padding: 14px 14px 14px 85px;
}

.label {
  position: absolute;
  pointer-events: none;
  top: 14px;
  left: 14px;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: -0.015rem;
  text-align: center;
  color: var(--light-gray);
}

.quote {
  display: none;
}

/*=================Tablet=================*/
@media screen and (min-width: 768px) {
}

/*=================Desktop=================*/
@media screen and (min-width: 1440px) {
  .booksImage {
    width: 40px;
    height: 40px;
  }
}
