.dashboardContainer {
  border-radius: 30px;
  width: 335px;
  height: 478px;
  background-color: var(--dark-gray2);
  margin: 0 auto;
}

/*=================Tablet=================*/
@media screen and (min-width: 768px) {
  .dashboardContainer {
    width: 704px;
    height: 336px;
  }
}

/*=================Desktop=================*/
@media screen and (min-width: 1440px) {
  .dashboardContainer {
    width: 353px;
    height: 651px;
    margin: 0;
  }
}
