.wrapperContainer {
  max-width: 335px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 20px auto;
}

.bannerContainer {
  height: 351px;
  background-color: var(--dark-gray2);
  border-radius: 30px;
  padding: 20px 40px 0 40px;
}

.background {
  background-image: url("../../../assets/banner/banner-mob@1x.jpg");
  width: 255px;
  height: 331px;
  background-size: cover;
  overflow: hidden;
}
@media (min-resolution: 192dpi),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .background {
    background-image: url("../../../assets/banner/banner-mob@2x.jpg");
  }
}

/*=================Tablet=================*/
@media screen and (min-width: 768px) {
  .wrapperContainer {
    width: 704px;
  }

  .bannerContainer {
    display: none;
  }
}
