.bookContainer,
.readContainer {
  position: relative;
  width: 335px;
  height: 439px;
  padding: 16px;
}

.icon {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 22px;
  height: 22px;
}

.modalContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modalImage {
  border-radius: 8px;
  width: 140px;
  height: 213px;
  margin-bottom: 16px;
}

.bookTitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  letter-spacing: -0.02rem;
  text-align: center;
  margin-bottom: 4px;
}

.bookAuthor {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.015rem;
  color: var(--light-gray);
  margin-bottom: 4px;
}

.bookPages {
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;
  letter-spacing: -0.0125rem;
  text-align: center;
  margin-bottom: 10px;
}

.addBtn {
  border: 1px solid rgba(249, 249, 249, 0.2);
  border-radius: 30px;
  padding: 12px 24px;
  width: 141px;
  height: 42px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: 0.0175rem;
  color: var(--main-light);
}

/*=================Tablet=================*/
@media screen and (min-width: 768px) {
  .bookContainer,
  .readContainer {
    width: 500px;
    height: 483px;
  }

  .modalImage {
    margin-top: 12px;
  }
  .modalImage {
    width: 153px;
    height: 233px;
  }
}
