.recomContainer {
  display: flex;
  flex-direction: column;
  gap: 22px;
  border-radius: 30px;
  width: 335px;
  height: 382px;
  background-color: var(--dark-gray2);
  margin: 0 auto 20px auto;
  padding: 40px 20px;
}

.topPart {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1;
  letter-spacing: -0.025rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.paginationBlock {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.btn {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 1px solid var(--main-light);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border-color 0.3s, opacity 0.3s;
}

.iconLeft {
  width: 16px;
  height: 16px;
  rotate: 180deg;
}

.iconRight {
  width: 16px;
  height: 16px;
}

.btn:disabled,
.btn.disabled {
  cursor: not-allowed;
  opacity: 0.5;
  border-color: rgba(249, 249, 249, 0.2);
}

.pageOfPages {
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  letter-spacing: -0.02em;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*=================Tablet=================*/
@media screen and (min-width: 768px) {
  .recomContainer {
    width: 704px;
    height: 663px;
    padding: 40px 40px;
  }

  .btn {
    width: 40px;
    height: 40px;
  }

  .iconLeft,
  .iconRight {
    width: 20px;
    height: 20px;
  }
}

/*=================Desktop=================*/
@media screen and (min-width: 1440px) {
  .recomContainer {
    width: 847px;
    height: 651px;
    margin: 0;
  }
}
