.userContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.name {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.nameInitial {
  border-radius: 50%;
  width: 35px;
  height: 35px;
  padding: 17px;
  border: 1px solid rgba(249, 249, 249, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}

.fullName {
  display: none;
}

.logoutBtn {
  display: none;
}

/*=================Tablet=================*/
@media screen and (min-width: 768px) {
  .nameInitial {
    width: 40px;
    height: 40px;
  }

  .logoutBtn {
    display: flex;
    border: 1px solid rgba(249, 249, 249, 0.2);
    border-radius: 30px;
    padding: 12px 28px;
    width: 114px;
    height: 42px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.12;
    letter-spacing: 0.02rem;
    color: var(--main-light);
  }
}

/*=================Desktop=================*/
@media screen and (min-width: 1440px) {
  .fullName {
    display: flex;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.12;
    letter-spacing: -0.02rem;
    text-align: center;
  }
}
